body {
    background-image: url(./images.jpeg);
    background-size: contain;
}
h1 {
    text-align: center;
    font-style: italic;
    color: crimson;
}
h2 {
    font-style: italic;
    color: darkgoldenrod;
}
#Ted {
    width: 240px;
}
figcaption {
    padding-left: 70px;
    color: blueviolet;
}
footer {
    text-align: center;
    background-color: red;
    width: 25%;
    float: right;
}
#rudan {
    width: 20px;
}
#sacho {
    width: 20px;
}